* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.or {
    color: orangered;
    font-weight: 500;
}

.socials {
    border-top: 1px solid #e9dfdf;
    border-bottom: 1px solid #e9dfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials .media ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

.socials .country ul {
    list-style-type: none;
    display: flex;
}

.socials .country ul li {
    padding: 0px 5px;
    cursor: pointer;
}

nav {
    box-shadow: 1px 1px 20px #888888;
    margin-bottom: 1px;
}

.socials .media ul li {
    border-right: 1px solid #e9dfdf;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.active {
    font-weight: bold;
}

.section-spacing {
    margin: 0px 200px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .navbar ul {
    list-style: none;
    display: flex;
    gap: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.nav .navbar ul li {
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: small;
    cursor: pointer;
}

.nav .logo {
    font-size: xx-large;
}

.overlay {
    position: absolute;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 700px;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
}

.banner {
    background-image: url("images/pattaya-chonburi-thailand-28-may-2019-beautiful-landscape-cityscape-pattaya-city-is-popular-destination-thailand-with-white-cloud-blue-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 500px;
}

main .os {
    margin: 35px 0;
}

main .os .title {
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
}

main .os p {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    overflow: hidden;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.box {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 30%;
    margin-top: 0%;
    box-shadow: 1px 1px 20px lightgray;
    margin-bottom: 50px;
}

.box .title {
    font-size: 20px;
    margin-bottom: 10px;
}

.box .icon-title img {
    padding: 17px;
}

.box p {
    padding: 5px;
    opacity: 0.5;
}

.box .icon-title {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: orangered;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.creative .title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.creative p {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    overflow: hidden;
}

.boxed-container {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.boxed {
    width: 100%;
}

.boxed img {
    overflow: hidden;
    width: 400px;
    height: 232px;
    object-fit: cover;
    margin-top: 50px;
    margin-bottom: 10px;
}

.boxed p {
    text-align: left;
    width: 300px;
}

.boxed .title {
    font-size: 20px;
    margin-bottom: 10px;
    opacity: 1;
    text-align: left;
}


.social {
    margin-top: 50px;
    background-color: #302d2d;
}

.social ul:nth-child(1) {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.social ul:nth-child(1) li {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: white;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-bottom: 20px;
}

.social ul:nth-child(1) li img {
    padding: 7px;
}

.social ul li {
    cursor: pointer;
    color: white;
}

.social ul:nth-child(2) {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

footer {
    background-color: #302d2d;
    height: 100%;
    padding: 25px;
}

footer .title {
    text-align: center;
    padding: 10px;
    padding-right: 25px;
    padding-left: 40px;
    color: orangered;
}

.menu{
    display: none !important;
}